<div class="container bg-white p-5"  >

    <ngx-loading 
      [show]="loading" 
      [config]="{ backdropBorderRadius: '3px' }" 
      [template]="customLoadingTemplate">
    </ngx-loading>
    <ng-template #customLoadingTemplate>    </ng-template>

    <div [className]="loading ? 'd-none' : 'd-block'">
      <h3 class="">Gerenciar Contabilidade</h3>
      <a routerLink="/administracao/nova-contabilidade" class="btn bg-roxo shadow text-white float-right mt-3 mb-3 mr-3 " >Nova Contabilidade</a>
      <div class="dataTable">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table_laco shadow hover" >
            <thead class="">
              <tr class="text-uppercase thead_table">
                <th>empresa</th>
                <th>cpnj</th>
                <th>plano</th>
                <th>acessar</th>
                <th>editar</th>
              </tr>
            </thead>
            <tbody class=" table-bordered">
              <tr *ngFor="let item of contabilidades">
                <td>{{ item.Nome_Fantasia }}</td>
                <td>{{ item.Cnpj | mask: '00.000.000/0000-00' }}</td>
                <td>{{ item.Plano }}</td>
                <!--td><a routerLink="/administracao/dashboards/{{item.id}}">Acessar</a></td-->
                <td ><span class="hover_link" (click)="goToAccounting(item.id)"> Acessar</span></td>
                <td><a routerLink="/administracao/nova-contabilidade/{{item.id}}">Editar</a></td>
              </tr>            
            </tbody>
        </table>
      </div> 
    </div>
</div>
