<div class="container p-5">
    <h2 class="mt-3 mb-0">Bem Vindo ao L.A.C.O.</h2>
    <p>Luca Assistente de Contabilidade Online</p>
    <span class="sub_border_effect"></span>
    <div class="row align-items-center mt-4">
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Gerenciar Clientes</h6>
            <a class="" href="#/contabilidade/gerenciar-clientes">Acessar</a>
        </div>
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Upar Relatório</h6>
            <a class="bg-white text-dark" href="#/contabilidade/upar-relatorio">Acessar</a>
        </div>
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Novo Cliente</h6>
            <a class="bg-white text-dark" href="#/contabilidade/novo-cliente" >Criar</a>
        </div>
    </div>
</div>
