  $border-radius: 25px;
  
  .sub_border_effect{
    display: block;
    height: 4px;
    width: 4em;
    background: #6c02e8;
  }
  
  .bg_base_index{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1em;
    width: 25%;
    margin: 0 1em;
    border-radius: $border-radius;
        
    a {
        margin-top: 0.5em;
        border: 1px solid;
        border-radius: $border-radius;
        border-color: white;
        width: 84%;
        color: white;
        cursor: pointer;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-weight: bold;
    }
        
  }

.example-viewer .docs-example-viewer-wrapper {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin: 4px;
}

.list-group-item:hover {
  background-color: #ebedef;
}