.bg-roxo {
  background: linear-gradient(45deg, #67569d 0%, #6b00e9 100%);
}

.br-25 {
  border-radius: 25px;
}

.border_effect{
  display: block;
  height: 4px;
  width: 30%0;
  background: #6c02e8;
}

.bg_base_index{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}