<div class="container bg-white shadow p-5">
    <h2>Treinamentos Sistema</h2>
    <div class="row">
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 1</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 2</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 3</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 4</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 5</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>
        <div class="col shadow bg-white d-flex flex-column align-items-center p-4 m-2">
            <h6>Treinamento 6</h6>
            <div class="bg-primary w-75 p-5">
                <i class="fa fa-play fa-lg d-flex flex-column align-items-center"></i>
            </div>
        </div>    
    </div>
</div>