$border-radius: 25px;
  
.sub_border_effect{
  display: block;
  height: 4px;
  width: 4em;
  background: #6c02e8;
}

.bg_base_index{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1em;
  width: 25%;
  margin: 0 1em;
  border-radius: $border-radius;
      
  a {
      margin-top: 0.5em;
      border: 1px solid;
      border-radius: $border-radius;
      border-color: white;
      width: 84%;
      color: white;
      cursor: pointer;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: bold;
  }
      
}