<div class="container p-5">
    <h2 class="mt-3 mb-0">Bem Vindo ao L.A.C.O.</h2>
    <p>Administração Sistema Córdis</p>
    <span class="sub_border_effect"></span>
    <div class="row align-items-center mt-4 justify-content-around">
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Gerenciar Contabilidade</h6>
            <a class="" href="#/administracao/gerenciar-contabilidade">Acessar</a>
        </div>
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Nova Contabilidade</h6>
            <a class="bg-white text-dark" href="#/administracao/nova-contabilidade">Criar</a>
        </div>
        <div class="bg_base_index bg-roxo shadow">
            <h6 >Gerenciar Treinamento</h6>
            <a class="bg-white text-dark" href="#/administracao/gerenciar-treinamento" >Acessar</a>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-5"> 
        <div class="card col text-white bg-info mr-3">
            <div class="card-body pb-0">
                <div class="text-value">{{ dados?.contabilidades_ativas + dados?.empresas_ativas }}</div>
                <div>Clientes Ativos</div>
                <div>{{dados?.contabilidades_ativas}} Contabilidades</div>
                <div>{{dados?.empresas_ativas}} Empresas</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChart2Options"
                [colors]="lineChart1Colours"
                chartType="line"
            ></canvas>
            </div>
        </div>
        
        <div class="card col text-white bg-warning mr-3">
            <div class="card-body pb-0">
                <div class="text-value">{{ dados?.contabilidades_teste + dados?.empresas_teste}}</div>
                <div>Clientes em Teste</div>
                <div>{{dados?.contabilidades_teste}} Contabilidades</div>
                <div>{{dados?.empresas_teste}} Empresas</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChart2Options"
                [colors]="lineChart2Colours"
                chartType="line"></canvas>
            </div>
        </div>

        <div class="card col text-white bg-danger">
            <div class="card-body pb-0">
                <div class="text-value">{{ dados?.contabilidades_desabilitadas + dados?.empresas_desabilitadas}}</div>
                <div>Clientes Desabilidados</div>
                <div>{{dados?.contabilidades_desabilitadas}} Contabilidades</div>
                <div>{{dados?.empresas_desabilitadas}} Empresas</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChart2Options"
                [colors]="lineChart3Colours"
                chartType="line"></canvas>
            </div>
        </div>
    </div>
       
</div>
