
<h1 *ngIf="!dados" class="tect-center p-3">Nem um dado disponível</h1>
<div *ngIf="dados" class="d-flex flex-column">
  <div class="d-flex justify-content-end">    
    <label *ngIf="empresas" for="empresa" class="mr-2">
      <ng-select  
        name="empresa"  
        [items]="empresas"
        bindLabel="nome_fantasia"
        bindValue="empresa_id"
        [closeOnSelect]="true"
        [hideSelected]="true"
        [multiple]="false"
        [loading]="false"
        appendTo="body"
        placeholder="Selecione uma empresa"
        class=""
        loadingText="true"
        id="empresa"
        (change)='selectEmpresa($event.empresa_id)'
        >
      </ng-select>
    </label>       
        
      <mat-form-field *ngIf="periodoVisualizacao == 1">
          <mat-label>Selecione o Mês</mat-label>
          <mat-select [(value)]="periodoMensalSelect" (selectionChange)="mudarMesAnaliseGrafico($event.value, 'LucroLiquidoMensal')">
            <mat-option *ngFor="let mes of mesesCadastrados" [value]="mes.id">
              {{mes.mes}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
      <mat-form-field *ngIf="periodoVisualizacao == 3">
          <mat-label>Selecione o Trimestre</mat-label>
          <mat-select [(value)]="periodoTrimestreSelect" (selectionChange)="mudarTrimestreAnaliseGrafico($event.value)">
            <mat-option *ngFor="let trimestre of trimestres" [value]="trimestre.id">
              {{trimestre.label}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="periodoVisualizacao == 6">
          <mat-label>Selecione o Semestre</mat-label>
          <mat-select [(value)]="periodoSemestreSelect" (selectionChange)="mudarSemestreAnaliseGrafico($event.value)">
              <mat-option *ngFor="let semestre of semestres" [value]="semestre.id">
                {{semestre.label}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <div class="ml-2">
        <mat-button-toggle-group 
          (change)="togglePeriodo($event.value)"
          #colorToggle="matButtonToggleGroup"
          #group="matButtonToggleGroup"
          >
            <mat-button-toggle value="1"> Mensal </mat-button-toggle>
            <mat-button-toggle value="3"> Trimestral </mat-button-toggle>
            <mat-button-toggle value="6"> Semestral </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  </div> 
  <mat-tab-group (selectedTabChange)="changeTab($event.index)" >
      <mat-tab label="Resultado 1">
        <div class="d-flex flex-wrap justify-content-around align-items-center rounded">   

          <div class="bg-light rounded shadow d-flex flex-column align-items-center mb-3 mr-3 p-4">
            <h6 class="text-center mt-1">Lucro Líquido Mensal</h6>
            <ngx-charts-pie-chart
              class=""
              [view]="view200"
              [animations]="animations"
              [scheme]="colorScheme"
              [results]="valorChart_LucroLiquidoMensal"
              [gradient]="gradient"
              [doughnut]="true"
              fitContainer=true
              label="Lucro Líquido Mensal"
              >
            </ngx-charts-pie-chart>
            <span class="text-center p-1">
              {{ valorChart_LucroLiquidoMensal[0].name }} | 
              {{ valorChart_LucroLiquidoMensal[0].value }}%
            </span>
          </div>
      
          <div class="bg-light rounded shadow d-flex flex-column align-items-center mb-3 mr-3 p-4">
            <h6 class="text-center mt-1">Lucro Líquido Acumulado</h6>
            <ngx-charts-pie-chart
              class=""
              [view]="view200"
              [animations]="animations"
              [scheme]="colorScheme"
              [results]="valorChart_LucroLiquidoAcumulado"
              [gradient]="gradient"
              [doughnut]="true"
              fitContainer=true
              label="Lucro Líquido Acumulado"
              >
            </ngx-charts-pie-chart>
            <span class="text-center p-1">
              {{ valorChart_LucroLiquidoAcumulado[0].name }} | 
              {{ valorChart_LucroLiquidoAcumulado[0].value }}%
            </span>
          </div> 
          

          <div class="shadow rounded bg-light d-flex flex-column align-items-center mb-3 mr-3 p-4" >
            <h6 class="text-center m-2">Gastos Totais</h6>  
            <ngx-charts-pie-chart
              class=""
              [view]="view200"
              [scheme]="colorScheme"
              [results]="valorChart_GastosTotais"
              [gradient]="gradient">
            </ngx-charts-pie-chart> 
          </div>
    
          <!-- Composição Dedução da Receita -->
          <div class="shadow rounded bg-light d-flex flex-column align-items-center mb-3 mr-3 p-4" >
            <h6 class="text-center m-2">Composição Dedução da Receita</h6>  
            <ngx-charts-pie-chart
              class=" "
              [view]="view200"
              [scheme]="colorScheme"
              [results]="valorChart_DeducaoDaReceita"
              [gradient]="gradient">
            </ngx-charts-pie-chart>
          </div>

          <div class="shadow rounded bg-light d-flex flex-column align-items-center mb-3 mr-3 p-4" >
            <h6 class="text-center m-2">Analise de Resultado Líquido</h6>  
            <ngx-charts-bar-vertical-stacked
              [view]="view400"
              [scheme]="colorScheme"
              [results]="valorChart_AnaliseResultadoLiquido"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Resultado 2"> 
        <div class="d-flex flex-wrap justify-content-around align-items-center rounded">   
          <!-- Receitas Operacionais -->
          <div class="shadow rounded bg-light mb-3 mr-3 p-4 d-flex " >
              <div>
                <h6 class="text-center m-2">Receitas Operacionais</h6>  
                <ngx-charts-bar-vertical
                  class="bg-light shadow"
                  [view]="view400"
                  [scheme]="colorScheme"
                  [results]="valorChart_ReceitasOperacionais"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [showDataLabel]="showDataLabel"
                  (select)="onSelectReceitasOperacionais($event)"
                  >
                </ngx-charts-bar-vertical>
              </div>
              <div class=" p-4 d-flex flex-column justify-content-around">
                <!-- <div class=" d-flex flex-column">
                  <span>Variação Mês</span>
                  <span>R${{ receitasOperacionais_VariacaoMes }}</span>
                </div> -->
                <div class=" d-flex flex-column">
                  <span>Média</span>
                  <span>R${{ receitasOperacionais_MediaAno | mask: 'separator':','}}</span>
                </div>
                <div class=" d-flex flex-column">
                  <span>Acumulado</span>
                  <span>R${{ receitasOperacionais_AcumuladoAno | mask: 'separator':',' }}</span>
                </div>
              </div>
            </div>

            <!-- Custos Operacionais -->
            <div class="shadow rounded bg-light mb-3 mr-3 p-4 d-flex" >
              <div>
                <h6 class="text-center m-2">Custos Operacionais</h6>  
                <ngx-charts-bar-vertical
                  class="bg-light shadow"
                  [view]="view400"
                  [scheme]="colorScheme"
                  [results]="valorChart_CustosOperacionais"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [showDataLabel]="showDataLabel"
                  (select)="onSelectCustosOperacionais($event)"
                  >
                </ngx-charts-bar-vertical>
              </div>
              <div class=" p-4 d-flex flex-column justify-content-around">
                <!-- <div class=" d-flex flex-column">
                  <span>Variação Mês</span>
                  <span>R${{ custosOperacionais_VariacaoMes }}</span>
                </div> -->
                <div class=" d-flex flex-column">
                  <span>Média</span>
                  <span>R${{ custosOperacionais_MediaAno | mask: 'separator':',' }}</span>
                </div>
                <div class=" d-flex flex-column">
                  <span>Acumulado</span>
                  <span>R${{ custosOperacionais_AcumuladoAno | mask: 'separator':',' }}</span>
                </div>
              </div>
            </div>

            <!-- Despesas Operacionais -->
            <div class="shadow rounded bg-light mb-3 mr-3 p-4 d-flex" >
              <div>
                <h6 class="text-center m-2">Despesas Operacionais</h6>  
                <ngx-charts-bar-vertical
                  class="bg-light shadow"
                  [view]="view400"
                  [scheme]="colorScheme"
                  [results]="valorChart_DespesasOperacionais"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [showDataLabel]="showDataLabel"
                  >
                </ngx-charts-bar-vertical>
              </div>
              <div class=" p-4 d-flex flex-column justify-content-around">
                <!-- <div class=" d-flex flex-column">
                  <span>Variação Mês</span>
                  <span>R${{ despesasOperacionais_VariacaoMes }}</span>
                </div> -->
                <div class=" d-flex flex-column">
                  <span>Média</span>
                  <span>R${{ despesasOperacionais_MediaAno | mask: 'separator':',' }}</span>
                </div>
                <div class=" d-flex flex-column">
                  <span>Acumulado</span>
                  <span>R${{ despesasOperacionais_AcumuladoAno | mask: 'separator':',' }}</span>
                </div>
              </div>
            </div>


            <div class="shadow rounded bg-light mb-3 mr-3 p-4" >
              <h5 class="text-center m-2">Peso Custo Despesa</h5>  
              <ngx-charts-line-chart
                class=""
                [view]="view400"
                [scheme]="colorScheme"
                [results]="valorChart_PesoCustoDespesa"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"          
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                >
              </ngx-charts-line-chart>
            </div>

            <div class="shadow rounded bg-light mb-3 mr-3 p-4 d-flex align-items-center" >
              <div>
                <h5 class="text-center m-2">Ponto de Equilibrio</h5>  
                <ngx-charts-line-chart
                  class=""
                  [view]="view400"
                  [scheme]="colorScheme"
                  [results]="valorChart_PontoEquilibrio"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"          
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  >
                </ngx-charts-line-chart>
              </div>
              <div class="d-flex flex-column p-4">
                <span>Ponto Equilíbrio Médio</span>
                <span>R${{ pontoEquilibrioMedio | mask: 'separator':',' }}</span>
              </div>

            </div>

          <div class="shadow bg-light rounded mb-3 mr-3 p-4" >
            <h5 class="text-center m-2">Resultado Apurado</h5>  
            <ngx-charts-area-chart
              class=""
              [view]="view400"
              [scheme]="colorScheme"
              [results]="valorChart_ResultadoApurado"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-area-chart>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Gerenciamento Financeiro">
        <div class="d-flex flex-wrap justify-content-around align-items-center rounded">    

          <div class="shadow  bg-light rounded mb-3 mr-3 p-4" >
            <h6 class="text-center m-2">Prazos Médios e Ciclos</h6>  
            <ngx-charts-bar-horizontal
              class=""
              [view]="view400"
              [scheme]="colorScheme"
              [results]="valorChart_ReceitasOperacionais"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-horizontal>
          </div>

          <div class="shadow rounded bg-light mb-3 mr-3 p-4" >
            <h6 class="text-center m-2">Ciclo Operacional</h6>  
            <ngx-charts-line-chart
              class=""
              [view]="view400"
              [scheme]="colorScheme"
              [results]="valorChart_PesoCustoDespesa"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"          
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              >
            </ngx-charts-line-chart>
          </div>

          <!-- <div class="shadow rounded bg-light mb-3 mr-3 p-4 d-flex flex-column p-4" >
            <span>Necessidade de Capital de Giro</span>
            <span>R$555</span>
            <span class="mt-2">Capital de Giro</span>
            <span>R$555</span>
            <span class="mt-2">Saldo em Tesouraria</span>
            <span>R$555</span>
          </div> -->

        </div>
      </mat-tab>
    </mat-tab-group>
  
</div>



