<div class="app-body">
  <main class="main d-flex align-items-center">
  
    
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    <ng-template #customLoadingTemplate>    </ng-template>
  
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto d-flex align-items-center justify-content-center flex-column">
          <img class="img-fluid mb-5" alt="" src="./../../../assets/img/brand/logo.png">
          <div class="card-group">
            <div class="card p-4 border_roxo">
              <div class="card-body">
                <form [formGroup]="loginForm" (submit)="login()">
                  <h1>Login</h1>
                  <p class="text-muted">Faça login em sua conta</p>
                  <div class="input-group mb-3 d-flex flex-column">
                    <div class="d-flex">
                      <div class="input-group-prepend">
                        <span class="input-group-text border_roxo"><i class="icon-user text_roxo"></i></span>
                      </div>
                      <input 
                        #userNameInput
                        formControlName="userName" 
                        type="text" 
                        class="form-control" 
                        placeholder="Usuário" 
                        autocomplete="Email">
                    </div>
                    <small *ngIf="loginForm.get('userName').errors?.required && (loginForm.get('userName').dirty || loginForm.get('userName').touched)" class="text-danger d-block mt-2">O nome do usuário é obrigatório!</small>
                  </div>
                  <div class="input-group mb-4 d-flex flex-column">
                    <div class="d-flex" >
                      <div class="input-group-prepend">
                        <span class="input-group-text border_roxo"><i class="icon-lock text_roxo"></i></span>
                      </div>
                      <input 
                        formControlName="password" 
                        type="password" 
                        class="form-control" 
                        placeholder="Senha" 
                        autocomplete="current-password">
                    </div>
                      <small *ngIf="loginForm.get('password').errors?.required && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="text-danger d-block mt-2">A senha é obrigatória!</small>                    
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6">
                      <button [disabled]="loginForm.invalid" type="submit" class="btn text-white px-4 bg-roxo">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link text_roxo px-0 ">Esqueçeu a senha?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


  
