<div class="container mt-3">
        <div class="row">
          <div class="col-md-12 col-9 mx-auto">
            <div class="card shadow mx-4">
              <div class="card-body p-4"> 
                <form [formGroup]="registerForm" >
                  <!-- <h1>Cadastro</h1>
                  <p class="text-muted">Crie uma nova conta</p> -->
                  <div class="input-group mb-3 d-flex flex-column">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input formControlName="first_name" type="text" class="form-control" placeholder="Nome completo" autocomplete="first_name" required>
                    </div>
                    <small *ngIf="registerForm.get('first_name').errors?.required && (registerForm.get('first_name').dirty || registerForm.get('first_name').touched)" class="text-danger d-block mt-2">Nome é obrigatório!</small>
                    <small *ngIf="registerForm.get('first_name').errors?.minlength" class="text-danger d-block mt-2">Mínimo 2 caracteres</small>
                    <small *ngIf="registerForm.get('first_name').errors?.maxlength" class="text-danger d-block mt-2">Máximo 40 caracteres</small>
                  </div>
                  <div class="input-group mb-3 d-flex flex-column"> 
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input formControlName="email" type="text" class="form-control" placeholder="Email" autocomplete="email" required>
                    </div>
                    <small *ngIf="registerForm.get('email').errors?.emailTaken" class="text-danger d-block mt-2">Email já cadastrado!</small>
                    <small *ngIf="registerForm.get('email').errors?.required && (registerForm.get('email').dirty || registerForm.get('email').touched)" class="text-danger d-block mt-2">Email é obrigatório!</small>
                    <small *ngIf="registerForm.get('email').errors?.email" class="text-danger d-block mt-2">Email inválido</small>
                  </div>
                  <div class="input-group mb-3 d-flex flex-column">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input formControlName="password" type="password" class="form-control" placeholder="Password" autocomplete="new-password" required>
                    </div>
                    <small *ngIf="registerForm.get('password').errors?.required && (registerForm.get('password').dirty || registerForm.get('password').touched)" class="text-danger d-block mt-2">Senha é obrigatório!</small>
                    <small *ngIf="registerForm.get('password').errors?.maxlength" class="text-danger d-block mt-2">Máximo 14 caracteres</small>
                    <small *ngIf="registerForm.get('password').errors?.minlength" class="text-danger d-block mt-2">Mínimo 6 caracteres</small>
                  </div>
                  <div class="input-group mb-4 d-flex flex-column">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input formControlName="rptPassword" type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
                    </div>
                    <small *ngIf="registerForm.get('rptPassword').errors?.required && (registerForm.get('rptPassword').dirty || registerForm.get('rptPassword').touched)" class="text-danger d-block mt-2">Confira sua senha!</small>
                    <small *ngIf="registerForm.get('rptPassword').errors?.maxlength" class="text-danger d-block mt-2">Máximo 14 caracteres</small>
                    <small *ngIf="registerForm.get('rptPassword').errors?.minlength" class="text-danger d-block mt-2">Mínimo 6 caracteres</small>                  
                    <small *ngIf="registerForm.get('rptPassword').errors?.passwordChecked" class="text-danger d-block mt-2">Senha não confere</small>
                  </div>
                  
                  <div class="input-group mb-3" *ngIf="!contabilidades && boolValue"> 
                    <div class="input-group-prepend flex-column">
                      <p class="text-muted mb-0">Escolha um perfil:</p>
                      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="Role">                      
                        <label ngbButtonLabel class="bg_roxo">
                          <input ngbButton (click)="openSelectByRole($event.target.value)" type="radio" value="2"> Contabilidade
                        </label>
                        <label ngbButtonLabel class="bg_roxo">
                          <input (click)="openSelectByRole($event.target.value)" ngbButton type="radio" value="3"> Empresa
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3" *ngIf="activeSelectEmpresa">
                    <label for="empresa" class="d-flex align-items-center">
                      Selecione a empresa:
                      <ng-select  
                        formControlName="Empresa"
                        name="empresa"  
                        [items]="empresas"
                        bindLabel="Nome_Fantasia"
                        bindValue="id"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        [multiple]="false"
                        appendTo="body"
                        placeholder="Selecione a empresa"
                        class="ml-3"
                        id="empresa"
                        >
                      </ng-select>
                    </label>
                  </div>
                  <div class="input-group mb-3" *ngIf="contabilidades && boolValue"> 
                    <div class="input-group-prepend flex-column">
                      <p class="text-muted mb-0">Escolha um perfil:</p>
                      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="Role">                      
                        <label ngbButtonLabel class="bg_roxo">
                          <input ngbButton (click)="openSelectByRole($event.target.value)" type="radio" value="1"> Admin
                        </label>
                        <label ngbButtonLabel class="bg_roxo">
                          <input (click)="openSelectByRole($event.target.value)" ngbButton type="radio" value="2"> Contabilidade
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3" *ngIf="activeSelectContabilidade">
                      <label for="contabilidade" class="d-flex align-items-center">
                        Selecione uma contabilidade:
                        <ng-select  
                          formControlName="Contabilidade"
                          name="contabilidade"  
                          [items]="contabilidades"
                          bindLabel="Nome_Fantasia"
                          bindValue="id"
                          [closeOnSelect]="true"
                          [hideSelected]="true"
                          [multiple]="false"
                          appendTo="body"
                          placeholder="Selecione a contabilidade"
                          class="ml-3"
                          id="contabilidade"
                          (change)="selectRole()"
                          >
                        </ng-select>
                      </label>
                    </div>
                  <button (click)="registrar()" *ngIf="boolValue" [disabled]="registerForm.invalid || registerForm.pending" type="button" class="btn btn-block text-white bg-roxo">Criar Conta</button>
                </form>
               </div>            
           </div>
          </div>
        </div>
      </div>
