.bg-effect{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url('./../../../assets/img/laco/decalFundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.bg-effect img{
  position: absolute;
  right: 2%;
  bottom: 5%;
  opacity: 0.3;
  width: 10%;
}


.bg-effect-border{
  border: 1px solid rgba(108, 2, 232, 1);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 98%;
  margin-left: 1%;
  padding: 1em;
  border-bottom: none;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn_inicio{
  border: #67569d solid 1px !important;
  color: black;
}

.borda-cordis{
  border-radius: 25px;
}

.app-header{
  border-bottom: none;
  padding: 2em;
  height: 7em;
}

.app-body{
  background: white;
  padding-top: 5em;
}

.z1{
  z-index: 1;
}

