<app-header
  class="app-header"
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="''">

    <div class="d-flex align-items-center ml-5">
      <div *ngIf="(user$ | async) as user">
        <img *ngIf="user.foto" [src]="user.foto" class="img-fluid avatar" />
      </div>
        <span class="ml-1" *ngIf="(user$ | async) as user">{{ user.nome_fantasia }}</span>
    </div>
  
  <mat-form-field *ngIf="contabilidades && !adminProfile">
    <mat-label>Selecione uma contabilidade</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of contabilidades" [value]="item.id" (click)="contabilidadeSelected(item.id)">
        {{item.Nome_Fantasia}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="empresas" class="ml-5">
    <mat-label>Selecione uma empresa</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of empresas" [value]="item.id" (click)="empresaSelected(item.id)">
        {{item.Nome_Fantasia}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ul class="nav navbar-nav ml-auto">    
    <li *ngIf="adminProfile" class="mr-5">
      <span (click)="comeBackAdmin()" class="btn btn-danger">Voltar</span>
    </li>
    <li class="nav-item d-md-down-none">
      <a *ngIf="(user$ | async) as user; else login" class="nav-link">{{ user.username }}</a>
      <ng-template #login>
        <a class="nav-link" [routerLink]="['']">Faça seu login</a>
      </ng-template>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/icons/profile.png" class="img-avatar" alt=""/>        
      </a>
      <div class="dropdown-menu dropdown-menu-right border_roxo" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center bg-roxo"><strong class="text-white">Configurações</strong></div>
        <a class="dropdown-item border_roxo" ><i class="fa fa-user text_roxo"></i> Perfil</a>
        <!--a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a-->
        <a class="dropdown-item border_roxo" (click)="logout()"><i class="fa fa-lock text_roxo"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" class="menu-laco" id="menuLaco">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer id="sidebarMinimizer"></app-sidebar-minimizer>
  </app-sidebar>
  <div class=" bg-effect"><img src="./../../../assets/img/laco/logo-grande-rodape.png" class="img-fluid" ></div>  
  <!-- Main content -->
  <main class="main z1">
    <!--div class=""></div-->
    <div class="container-fluid bg-effect-border">         
      <router-outlet></router-outlet>   
    </div><!-- /.container-fluid -->  
  </main>  
 
</div>  

