
<div class="container bg-white p-5">
        <ngx-loading
            [show]="loading" 
            [config]="{ backdropBorderRadius: '3px' }" 
            [template]="customLoadingTemplate">
        </ngx-loading>
        <ng-template #customLoadingTemplate>    </ng-template>
        <div [className]="loading ? 'd-none' : 'd-block'">
            <h3 class="mb-4">Gerenciar Clientes</h3>
            <div class="dataTable">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table_laco shadow" >
                    <thead class="">
                        <tr class="text-uppercase thead_table br25">
                            <th>empresa</th>
                            <th>cpnj</th>
                            <th>último upload</th>
                            <th>ações</th>
                        </tr>
                    </thead>
                    <tbody class=" table-bordered">
                        <tr *ngFor="let item of clientes">
                            <td>{{ item?.Nome_Fantasia }}</td>
                            <td>{{ item?.Cnpj | mask: '00.000.000/0000-00' }}</td>
                            <td>
                                <span *ngIf="item?.tem_upload">
                                    {{item?.Data_Upload }}
                                </span>
                                <span *ngIf="!item?.tem_upload" class="text-muted">Nenhum upload</span>
                            </td>
                            <td>
                                <a routerLink="/contabilidade/upar-relatorio" >Upar Relatório</a> /
                                <a routerLink="/contabilidade/balanco-patrimonial/{{item?.id}}" >Balanço Patrimonial</a> /
                                <a *ngIf="item?.tem_upload" routerLink="/contabilidade/gerenciar-dashboards/visualizar/{{item?.id}}">Visualizar Dashboards</a> 
                                <span *ngIf="!item?.tem_upload" class="text-muted">Visualizar Dashboards</span>
                                <a routerLink="/contabilidade/novo-cliente/{{item?.id}}" [queryParams]="questoes" >/ Editar</a> 
                            </td>
                        </tr>               
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
        