<ngx-loading
    [show]="loading" 
    [config]="{ backdropBorderRadius: '3px' }" 
    [template]="customLoadingTemplate">
</ngx-loading>
<ng-template #customLoadingTemplate>    </ng-template>
        
<div  [className]="loading ? 'd-none' : 'd-block'" class="container bg-white p-5">
    <h3 class="mb-4">Histórico Uploads Empresa</h3>
    <div class="row justify-content-center">
        <div class="dataTable">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table_laco shadow">
                <thead>
                    <tr class="text-uppercase thead_table br25">                    
                        <th>mês</th>
                        <th>ano</th>
                        <th>data do upload</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody class=" table-bordered">
                    <tr *ngFor="let linha of uploads">
                        <td>{{ linha.Mes }}</td>
                        <td>{{ linha.Ano }}</td>
                        <td>{{ linha.Data_Upload }}</td>
                        <td>acao</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

