<div class="container mt-3">
    <div class="row">
      <div class="col-md-6  mx-auto">
        <div class="card shadow mx-4">
          <div class="card-body p-4">
            <form [formGroup]="registerForm" >
              <h1>Cadastro</h1>
              <button (click)="open(content)" type="button" class="btn btn-block text-white bg-roxo w-auto mb-3 float-right">Criar Usuário Contabilidade</button>
              <p class="text-muted">Crie uma nova Contabilidade</p>
              <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-people"></i></span>
                  </div>
                  <input formControlName="Nome_Fantasia" type="text" class="form-control" placeholder="Nome Fantasia" autocomplete="Nome_Fantasia" required>
                </div>
                <small *ngIf="registerForm.get('Nome_Fantasia').errors?.required && (registerForm.get('Nome_Fantasia').dirty || registerForm.get('Nome_Fantasia').touched)" class="text-danger d-block mt-2">Digite um nome fantasia!</small>
              </div>

              <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="Razao_Social" type="text" class="form-control" placeholder="Razão Social" autocomplete="Razao_Social" required>
                </div>
                <small *ngIf="registerForm.get('Razao_Social').errors?.required && (registerForm.get('Razao_Social').dirty || registerForm.get('Razao_Social').touched)" class="text-danger d-block mt-2">Digite uma razão social!</small>
              </div>

              <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-briefcase"></i></span>
                  </div>
                  <input formControlName="Cnpj" type="text" mask="00.000.000/0000-00" class="form-control" placeholder="CNPJ" autocomplete="Cnpj" required>
                </div>
                <small *ngIf="registerForm.get('Cnpj').errors?.required && (registerForm.get('Cnpj').dirty || registerForm.get('Cnpj').touched)" class="text-danger d-block mt-2">Digite um Cnpj!</small>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <ngx-dropzone
                  #dropzone
                  label="Selecione uma logo"
                  class="custom-dropzone shadow w-50"
                  (filesAdded)="onFilesAdded($event)"
                  [showPreviews]="true"
                ></ngx-dropzone>       
                <div>
                  <button class="btn btn-secondary" (click)="dropzone.reset()">Reset</button>
                </div>
              </div>
              <div class="d-flex">
                <div class="col">
                  <label class="text-muted" for="planos">Planos</label>
                  <div class="d-flex justify-content-center mb-3">    
                    <div id="planos" class="row">
                        <div class="checkbox " class="col" formArraName="Plano" 
                            *ngFor="let item of planos ">                        
                            <label class="d-flex flex-row-reverse align-items-center justify-content-between"> {{ item.name }}
                                <input 
                                    [checked]="item.checked"
                                    class="mr-1"
                                    type="checkbox" 
                                    (change)="selectPlano(item.id)"/>
                            </label>
                        </div>
                    </div>                
                  </div>
                </div>                
                </div>
                <div class="col">
                    <label class="text-muted" for="planos">Status</label>
                    <div class="d-flex justify-content-center mb-3">    
                      <div id="planos" class="row">
                          <div class="checkbox " class="col" formArraName="status" 
                              *ngFor="let item of statusList ">                        
                              <label class="d-flex flex-row-reverse align-items-center justify-content-between"> {{ item.name }}
                                  <input 
                                      [checked]="item.checked"
                                      class="mr-1"
                                      type="checkbox" 
                                      (change)="selectStatus(item.id)"/>
                              </label>
                          </div>
                      </div>   
                    </div>                      
                </div>
              <label class="text-muted" for="planos">Novo Usuário</label>              
              <app-formulario-novo-usuario fullComponent='false' (validatorsOk)="reciverFeedback($event)" idNovaContabilidade='idNovaContabilidade'> </app-formulario-novo-usuario>
              
              <button (click)="registrar()" [disabled]="registerForm.invalid || registerForm.pending || validatorsOkNovoUsuario" type="button" class="btn btn-block text-white bg-roxo">Criar Contabilidade</button>
            </form>           
          </div>            
        </div>
      </div>
    </div>
  </div>

  <ng-template #content  let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cadastro novo Usuário</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">  
      <app-formulario-novo-usuario fullComponent='true' ></app-formulario-novo-usuario>
    </div>
  </ng-template>
