
<div class="container bg-white p-5"> 
    <h3 class="mb-4">Gerenciar Dashboards</h3>
    <!--label for="empresa" class="d-flex align-items-center justify-content-end">
        <ng-select              
            name="empresa"  
            [items]="uploads"
            bindLabel="Nome_Fantasia"
            bindValue="id"
            [closeOnSelect]="true"
            [hideSelected]="true"
            [multiple]="false"
            appendTo="body"
            placeholder="Selecione a empresa"
            class="ml-3"
            id="empresa"
            (change)="selecionaEmpresa($event.id)"
        >
        </ng-select>
    </label-->
    <div class="dataTable">
        <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table_laco shadow">
            <thead class="">
                <tr class="text-uppercase thead_table">
                    <th>empresa</th>
                    <th>cpnj</th>
                    <th>último upload</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody class=" table-bordered">
                <tr *ngFor="let item of uploads">
                    <td>{{ item.Nome_Fantasia }}</td>
                    <td>{{ item.Cnpj }}</td>
                    <td>{{ item.Upload }}</td>
                    <td><a href="#/contabilidade/gerenciar-dashboards/visualizar">Visualizar Dashboard</a></td>
                </tr>  
            </tbody>
        </table> 
    </div>

      
</div>
