ngx-dropzone {
  margin: 20px;
}

ngx-dropzone.custom-dropzone {
  height: 100px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
}

ngx-dropzone.custom-dropzone.hovered {
  border-style: solid;
}
