<div class="container p-5">

    <h3 class="mb-5">Upar/Editar Relatório do Mês</h3>
    <label for="empresa" class="d-flex align-items-center justify-content-end mr-3">
        <ng-select              
            name="empresa"  
            [items]="empresas"
            bindLabel="Nome_Fantasia"
            bindValue="id"
            [closeOnSelect]="true"
            [hideSelected]="true"
            [multiple]="false"
            appendTo="body"
            placeholder="Selecione a empresa"
            class="ml-3"
            id="empresa"
            (change)="checkTodosUploads($event.id)"
        >
        </ng-select>
    </label>

    <a href="http://lacocontabil.com.br/modelo_dre/dre.xlsx" download class="d-flex flex-column align-items-center text-black">
        <mat-icon aria-hidden="false" aria-label="">cloud_download</mat-icon>
        <span>Baixe o modelo de DRE</span>
    </a>

    <ngx-dropzone
        label="Selecione um Arquivo"
        class="custom-dropzone shadow"
        (filesAdded)="onFilesAdded($event)"
        (filesRejected)="onFilesRejected($event)"
        [showPreviews]="true"
    ></ngx-dropzone>

    <button class="btn bg-roxo shadow text-white float-right mt-3 mr-3" (click)="processoEnvio(content)" [disabled]="habilitar_btn_enviar ? 'disabled': null" >Enviar</button>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Aviso Dados Existentes</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">    
            <ngx-treeview 
                [config]="config" 
                [items]="items" 
                (filterChange)="onFilterChange($event)" 
                (selectedChange)="onSelectedChange($event)">
            </ngx-treeview>            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="submit()">Salvar</button>
        </div>
    </ng-template>    

    <table class="table table-condensed table-striped d-none hover shadow" id="tableUpload" >
        <thead>
            <tr >
                <th>Categoria</th>
                <th *ngFor="let coluna of colunasCsv" class="text-center"> {{ coluna.Mes }}/{{ coluna.Ano }} </th>
            </tr>           
        </thead>
        <tbody>
            <tr>
                <td>Receitas Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receitas_Operacionais" min="0" ></inline-editor></td>
            </tr>
            <tr>
                <td>Receita De Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receita_De_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Receita De Fretes E Entregas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receita_De_Fretes_E_Entregas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Receitas 1</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Receitas_1" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Receitas 2</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Receitas_2" ></inline-editor></td>
            </tr>
            <tr>
                <td>Deducoes Da Receita Bruta</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Deducoes_Da_Receita_Bruta" ></inline-editor></td>
            </tr>
            <tr>
                <td>Impostos Sobre Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Impostos_Sobre_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Comissoes Sobre Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Comissoes_Sobre_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Descontos Incondicionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Descontos_Incondicionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Devolucoes De Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Devolucoes_De_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Deducoes 1</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Deducoes_1" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Deducoes 2</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Deducoes_2" ></inline-editor></td>
            </tr>
            <tr>
                <td>Receita Liquida De Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receita_Liquida_De_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Custos Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Custos_Operacionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Custo Das Mercadorias Vendidas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Custo_Das_Mercadorias_Vendidas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Custo Dos Produtos Vendidos</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Custo_Dos_Produtos_Vendidos" ></inline-editor></td>
            </tr>
            <tr>
                <td>Custo Dos Servicos Prestados</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Custo_Dos_Servicos_Prestados" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outros Custos</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outros_Custos" ></inline-editor></td>
            </tr>
            <tr>
                <td>Lucro Bruto</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Lucro_Bruto" ></inline-editor></td>
            </tr>
            <tr>
                <td>Despesas Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Despesas_Operacionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Despesas Com Vendas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Despesas_Com_Vendas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Despesas Administrativas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Despesas_Administrativas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Despesas Tributarias Gerais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Despesas_Tributarias_Gerais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas 1</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_1" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas 2</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_2" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas 3</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_3" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas 4</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_4" ></inline-editor></td>
            </tr>
            <tr>
                <td>Lucro Prejuizo Operacional</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Lucro_Prejuizo_Operacional" ></inline-editor></td>
            </tr>
            <tr>
                <td>Receitas E Despesas Financeiras</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receitas_E_Despesas_Financeiras" ></inline-editor></td>
            </tr>
            <tr>
                <td>Receitas E Rendimentos Financeiros</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Receitas_E_Rendimentos_Financeiros" ></inline-editor></td>
            </tr>
            <tr>
                <td>Despesas Financeiras</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Despesas_Financeiras" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outroa Receitas Financeiras</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Receitas_Financeiras" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas Financeiras</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_Financeiras" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Receitas E Despesas Nao Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Receitas_E_Despesas_Nao_Operacionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Receitas Nao Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Receitas_Nao_Operacionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outras Despesas Nao Operacionais</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outras_Despesas_Nao_Operacionais" ></inline-editor></td>
            </tr>
            <tr>
                <td>Lucro / PrejuÌzo LÌquido</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Lucro_Prejuizo_Liquido" ></inline-editor></td>
            </tr>
            <tr>
                <td>Desembolso com Investimentos e Empréstimos</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Desembolso_Com_Investimentos_E_Emprestimos" ></inline-editor></td>
            </tr>
            <tr>
                <td>Investimentos em Imobilizado</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Investimentos_Em_Imobilizado" ></inline-editor></td>
            </tr>
            <tr>
                <td>Empréstimos e Dívidas</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Emprestimos_E_Dividas" ></inline-editor></td>
            </tr>
            <tr>
                <td>Outros Investimentos e Empréstimos</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Outros_Investimentos_E_Emprestimos" ></inline-editor></td>
            </tr>
            <tr>
                <td>Lucros Prejuizo Final</td>
                <td *ngFor="let coluna of colunasCsv"><inline-editor type="number" [(ngModel)]="coluna.Lucro_Prejuizo_Final" ></inline-editor></td>
            </tr>
        </tbody>
    </table>
</div>



