<div class="container mt-3">
    <div class="row">
      <div class="col mx-auto">
        <div class="card shadow mx-4">
          <div class="card-body p-4">
            <form [formGroup]="registerForm" >
              <h1>Novo/Editar Treinamento</h1>

                <div class="input-group mb-3">
                    <label>
                        Título do Treinamento
                        <input formControlName="Titulo" type="text" class="form-control" placeholder="Título do Treinamento" autocomplete="Titulo" required>
                    </label>
                    <small *ngIf="registerForm.get('Titulo').errors?.required && (registerForm.get('Titulo').dirty || registerForm.get('Titulo').touched)" class="text-danger d-block mt-2">Título é obrigatório!</small>             
                </div>

                <div class="input-group mb-3">
                    <label class="w-100">
                        Descrição do Treinamento
                        <textarea class="form-control" formControlName="Descricao" ></textarea>
                    </label>
                    <small *ngIf="registerForm.get('Descricao').errors?.required && (registerForm.get('Descricao').dirty || registerForm.get('Descricao').touched)" class="text-danger d-block mt-2">Descrição é obrigatório!</small>             
                </div>

                <div class="input-group mb-3">                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches">
                        <label (click)="selecionaEstado()" class="custom-control-label" for="customSwitches">Ativado/Desativado</label>
                    </div>                    
                </div>

                <ngx-dropzone
                    label="Selecione um Arquivo"
                    class="custom-dropzone shadow"
                    (filesAdded)="onFilesAdded($event)"
                    (filesRejected)="onFilesRejected($event)"
                    [showPreviews]="true"
                ></ngx-dropzone>
        
              <button (click)="registrar()" [disabled]="registerForm.invalid" type="button" class="btn btn-block text-white bg-roxo">Salvar</button>
            </form>           
          </div>            
        </div>
      </div>
    </div>
  </div>


