<div class="container">

    <form [formGroup]="registerForm" class="" >
        <div class="d-flex justify-content-between p-5">
            <mat-form-field>
                <mat-label>Selecione o mês</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let mes of monthsRegistered" [value]="mes.id" (click)="selectMounth(mes.id)" >
                            {{mes.mes}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button type="button" (click)="open(content)" class="btn btn-block text-white bg-roxo">Salvar Alterações</button>
            </div>
        </div>

        <div class="row p-5">
            <div class="d-flex flex-column col">
                <h5 class="text_roxo mt-4">Receitas Operacionais</h5>
                <mat-form-field>
                    <input matInput  formControlName="Receitas_Operacionais" type="number" placeholder="Receitas Operacionais">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Receita_De_Vendas" type="number" placeholder="Receita de Vendas">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Receita_De_Fretes_E_Entregas" type="number" placeholder="Receita de Fretes e Entregas">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Outras_Receitas_1" type="number" placeholder="Outras Receitas 1">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Outras_Receitas_2" type="number" placeholder="Outras Receitas 2">
                </mat-form-field>
            <!--/div>
    
            <div class="d-flex flex-column col-3"-->
                <h5 class="text_roxo mt-4">Deduções da Receita Bruta</h5>
                <mat-form-field>
                    <input matInput  formControlName="Deducoes_Da_Receita_Bruta" type="number" placeholder="Deduções da Receita Bruta">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Impostos_Sobre_Vendas" type="number" placeholder="Impostos Sobre Vendas">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Comissoes_Sobre_Vendas" type="number" placeholder="Comissões Sobre Vendas">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Descontos_Incondicionais" type="number" placeholder="Descontos Incondicionais">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput formControlName="Devolucoes_De_Vendas" type="number" placeholder="Devoluções de Vendas">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput formControlName="Outras_Deducoes_1" type="number" placeholder="Outras Deduções 1">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput formControlName="Outras_Deducoes_2" type="number" placeholder="Outras Deduções 2">
                </mat-form-field>
            <!--/div>
            <div class="d-flex flex-column col-3"-->
                <h5 class="text_roxo mt-4">Receita Líquida de Vendas</h5>
                <mat-form-field>
                    <input matInput  formControlName="Receita_Liquida_De_Vendas" type="number" placeholder="Receita Líquida de Vendas">
                </mat-form-field>
            </div>
            <div class="d-flex flex-column col">
                <h5 class="text_roxo mt-4">Custos Operacionais</h5>
                <mat-form-field>
                    <input matInput  formControlName="Custos_Operacionais" type="number" placeholder="Custos Operacionais">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Custo_Das_Mercadorias_Vendidas" type="number" placeholder="Custo das Mercadorias Vendidas">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Custo_Dos_Produtos_Vendidos" type="number" placeholder="Custo dos Produtos Vendidos">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput formControlName="Custo_Dos_Servicos_Prestados" type="number" placeholder="Custo dos Serviços Prestados">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outros_Custos" type="number" placeholder="Outros Custos">
                </mat-form-field>
            <!--/div>
            <div class="d-flex flex-column col"-->
                <h5 class="text_roxo mt-4">Lucro Bruto</h5>
                <mat-form-field>
                    <input matInput formControlName="Lucro_Bruto" type="number" placeholder="Lucro Bruto">
                </mat-form-field>
            <!--/div>

            <div class="d-flex flex-column col-3"-->
                <h5 class="text_roxo mt-4">Despesas Operacionais</h5>
                <mat-form-field>
                    <input matInput formControlName="Despesas_Operacionais" type="number" placeholder="Despesas Operacionais">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput formControlName="Despesas_Com_Vendas" type="number" placeholder="Despesas com Vendas">
                </mat-form-field>     

                <mat-form-field>
                    <input matInput formControlName="Despesas_Administrativas" type="number" placeholder="Despesas Administrativas">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Despesas_Tributarias_Gerais" type="number" placeholder="Despesas Tributárias Gerais">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_1" type="number" placeholder="Outras  Despesas 1">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_2" type="number" placeholder="Outras  Despesas 2">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_3" type="number" placeholder="Outras  Despesas 3">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_4" type="number" placeholder="Outras  Despesas 4">
                </mat-form-field>
            <!--/div>

            <div class="d-flex flex-column col-3"-->
                <h5 class="text_roxo mt-4">Lucro / Prejuizo Operacional</h5>            
                <mat-form-field>
                    <input matInput  formControlName="Lucro_Prejuizo_Operacional" type="number" placeholder="Lucro / PrejuÌzo Operacional">
                </mat-form-field>
            </div>
                
            <div class="d-flex flex-column col">
                <h5 class="text_roxo mt-4">Receitas e Despesas Financeiras</h5>           

                <mat-form-field>
                    <input matInput formControlName="Receitas_E_Despesas_Financeiras" type="number" placeholder="Receitas e Despesas Financeiras">
                </mat-form-field>                   
            
                <mat-form-field>
                    <input matInput formControlName="Receitas_E_Rendimentos_Financeiros" type="number" placeholder="Receitas e Rendimentos Financeiros">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Despesas_Financeiras" type="number" placeholder="Despesas Financeiras">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Receitas_Financeiras" type="number" placeholder="Outras Receitas Financeiras">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_Financeiras" type="number" placeholder="Outras Despesas Financeiras">
                </mat-form-field>

                <h5 class="text_roxo mt-4">Outras Receitas e Despesas Não Operacionais</h5> 
                <mat-form-field>
                    <input matInput  formControlName="Outras_Receitas_E_Despesas_Nao_Operacionais" type="number" placeholder="Outras Receitas e Despesas Não Operacionais">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Receitas_Nao_Operacionais" type="number" placeholder="Outras Receitas Não Operacionais">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Outras_Despesas_Nao_Operacionais" type="number" placeholder="Outras Despesas Não Operacionais">
                </mat-form-field>
            <!--/div>

            <div class="d-flex flex-column col-3"-->   
                <h5 class="text_roxo mt-4">Lucro / Prejuizo Liquido</h5> 
                <mat-form-field>
                    <input matInput  formControlName="Lucro_Prejuizo_Liquido" type="number" placeholder="Lucro / PrejuÌzo LÌquido">
                </mat-form-field>                    
            <!--/div>

            <div class="d-flex flex-column col-3"-->
                <h5 class="text_roxo mt-4">Desembolso com Investimentos e Empréstimos</h5> 
                <mat-form-field>
                    <input matInput  formControlName="Desembolso_Com_Investimentos_E_Emprestimos" type="number" placeholder="Desembolso com Investimentos e Empréstimos">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Investimentos_Em_Imobilizado" type="number" placeholder="Investimentos em Imobilizado">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="Emprestimos_E_Dividas" type="number" placeholder="Empréstimos e Dívidas">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput formControlName="Outros_Investimentos_E_Emprestimos" type="number" placeholder="Outros Investimentos e Empréstimos">
                </mat-form-field>

                <h5 class="text_roxo mt-4">Lucro / PrejuÌzo Final</h5> 
                <mat-form-field>
                    <input matInput  formControlName="Lucro_Prejuizo_Final" type="number" placeholder="Lucro / PrejuÌzo Final">
                </mat-form-field>                
            </div>           
        </div>
    </form>


</div>

<ng-template #content let-modal>
<div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">Atençao</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
   <h5 class="">Valores foram alterados, deseja continuar?</h5>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
</ng-template>