<div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Minha Contabilidade</h2>
            </div>
            <div class="card-body">   
                <form class="">
                    <div class="d-flex align-items-baseline justify-content-between mb-2">
                        <h6 class="mt-5 mb-2">Perfil da Contabilidade</h6>
                        <a class="btn btn-primary text-uppercase text-white">salvar</a>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Nome Fantasia" type="text">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Razão Social" type="text">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="CNPJ" type="text">
                            </div>
                        </div>
                    </div>
    
                    <h6 class="mt-5 mb-2">Meu Plano</h6>
                    <div class="row border-bottom p-2">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td class="text-uppercase">plano 3</td>
                                    <td>10 de 50 empresas utilizado</td>
                                    <td>
                                        <a class="btn btn-secondary text-uppercase text-white">solicitar mais empresas</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-baseline">
                        <h6 class="mt-5 mb-2">Usuários</h6>
                        <div class="ml-2">
                            <a href="" class="btn btn-secondary text-uppercase text-white">adicionar novo</a>
                        </div>
                    </div>
                    <div class="border-bottom row p-2">
                        <table class="table table-striped table-condensed mt-4 ">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Joao</td>
                                    <td>joao.joao@gmail.com</td>
                                    <td>Editar</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>    
                    <a class="btn btn-primary text-uppercase text-white mt-5 float-right">salvar</a>
                </form>
            </div>
        </div>
    </div>