<div class="">

    <form [formGroup]="registerForm " class="" >
        <div class="d-flex justify-content-between p-3">
            <mat-form-field *ngIf="!mesesRegistrados" class="mr-3">
                <input matInput [matDatepicker]="picker" (dateChange)="selectMonthYear($event.value)" placeholder="Selecione o mês referênte">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="mesesRegistrados">
                <mat-label>Selecione o Mês</mat-label>
                <mat-select [(value)]="mesSelect" >
                    <mat-option *ngFor="let mes of mesesRegistrados; let i = index" [value]="mes.id" (click)="selectMesEdit(mes.id, i)">
                        {{ mes.mes }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button (click)="save()" class="btn btn-block text-white bg-roxo" [disabled]="registerForm.invalid">Salvar</button>
            </div>
        </div>
        <div class="p-4">
            <h2 class="text-center mb-3">Ativo</h2>
            <div class="d-flex">
                <div class="d-flex flex-column col p-3">
                    <h4 class="text-center">Circulante</h4>
                    <div class="d-flex flex-column">
                                            
                        <label class="" >Circulante R${{registerForm.controls.circulante_Ativo.value}}</label>

                        <label class="" >Disponível R${{registerForm.controls.disponivel.value}}</label>

                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Bens numerários" formControlName="bens_Numerarios" (change)="changeDisponivel()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                                <input type="number" matInput placeholder="Depóstios bancários a vista" formControlName="depositos_Bancarios_A_Vista" (change)="changeDisponivel()" >
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Aplicações de liquidez imediata" formControlName="aplicacoes_De_Liquidez_Imediata" (change)="changeDisponivel()">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Clientes R${{registerForm.controls.clientes.value}}</label>

                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Duplicatas a receber" formControlName="duplicatas_A_Receber" (change)="changeCliente()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="(-) Duplicatas descontadas" formControlName="duplicatas_Descontadas" (change)="changeCliente()">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Outros Créditos R${{registerForm.controls.outros_Creditos.value}}</label>

                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Títulos a receber" formControlName="titulos_A_Receber" (change)="changeOutrosCreditos()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Adiantamentos a funcionarios" formControlName="adiantamentos_A_Funcionarios" (change)="changeOutrosCreditos()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Tributos a recuperar" formControlName="tributos_A_Recuperar" (change)="changeOutrosCreditos()">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Estoques R${{registerForm.controls.estoques.value}}</label>

                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Estoques diversos" formControlName="estoque_Diversos" (change)="changeEstoque()">
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex flex-column col p-3">
                    <h4 class="text-center">Não Circulante</h4>
                    <div class="d-flex flex-column">
                        <label class="" ></label>
                        <label class="" >Não Circulante R${{registerForm.controls.nao_Circulante_Ativo.value}}</label>
                        <label class="" >Realizável a longo prazo R${{registerForm.controls.realizavel_A_Longo_Prazo.value}}</label>

                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Crédito de coligadas e controladas" (change)="changeRealizavelALongoPrazo()" formControlName="creditos_De_Coligadas_E_Controladas">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Investimentos R${{registerForm.controls.investimentos.value}}</label>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Outros Investimentos" formControlName="outros_Investimentos" (change)="changeInvestimentos()">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Imobilizado R${{registerForm.controls.imobilizado.value}}</label>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Imóveis" formControlName="imoveis" (change)="changeImobilizado()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Bens em operação" formControlName="bens_Em_Operacao" (change)="changeImobilizado()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="(-) Depreciação/Amortização/Exaustão acumulada" formControlName="depreciacao_Amortizacao_Exaustao_Acumulada" (change)="changeImobilizado()">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <h2 class="text-center mt-5 mb-3">Passivo</h2>
            <div class="d-flex">
                <div class="d-flex flex-column col  p-3">
                    <div class="d-flex flex-column">
                        <label class="" >Circulante R${{registerForm.controls.circulante_Passivo.value}}</label>
                        <label class="" >Instituições Financeiras R${{registerForm.controls.instituicoes_Financeiras.value}}</label>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Empréstimos" formControlName="emprestimos" (change)="changeInstituicoesFinanceiras()">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                                <input type="number" matInput placeholder="Financiamentos - Sistema financeiro nacional" (change)="changeInstituicoesFinanceiras()" formControlName="financiamentos_Sistema_Financeiro_Nacional">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Fornecedores R${{registerForm.controls.fornecedores.value}}</label>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Fornecedores nacionais" (change)="changeFornecedores()" formControlName="fornecedores_Nacionais">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Obrigações Tributárias R${{registerForm.controls.obrigacoes_Tributarias_Circulante.value}}</label>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Impostos e contribuições a recolher" (change)="changeObrigacoesTributarias()" formControlName="impostos_E_Contribuicoes_A_Recolher">
                        </mat-form-field>
                
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Tributos retidos a recolher" (change)="changeObrigacoesTributarias()" formControlName="tributos_Retidos_A_Recolher">
                        </mat-form-field>
                        
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Obrigações Trabalhistas e Previdenciárias R${{registerForm.controls.obrigacoes_Trabalhistas_E_Prividenciarias.value}}</label>        
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Obrigações com o pessoal" (change)="changeObrigacoesTrabalhistas()" formControlName="obrigacoes_Com_O_Pessoal" >
                        </mat-form-field>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Obrigações previdenciárias" (change)="changeObrigacoesTrabalhistas()" formControlName="obrigacoes_Previdenciarias" >
                        </mat-form-field>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Provisões" formControlName="provisoes" (change)="changeObrigacoesTrabalhistas()">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Outras Obrigações R${{registerForm.controls.outras_Obrigacoes.value}}</label>        
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Contas a pagar" (change)="changeOutrasObrigacoes()" formControlName="contas_A_Pagar">
                        </mat-form-field>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Contas correntes" (change)="changeOutrasObrigacoes()" formControlName="contas_Correntes">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Dividendos, Participações, Juros s/Capital próprio R${{registerForm.controls.dividendos_Participacoes_Juros_Capital_Proprio.value}}</label>        
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Juros sobre o capital próprio" (change)="changeDividendos()" formControlName="juros_Sobre_O_Capital_Proprio">
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex flex-column col  p-3">
                    <label class="" >Não Circulante R${{registerForm.controls.nao_Circulante_Passivo.value}}</label>  

                    <div class="d-flex flex-column">
                        <label class="" >Instituições Financeiras R${{registerForm.controls.instituicoes_Financeiras_Nao_circulante.value}}</label>  
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Financiamentos" (change)="somaObrigacoesLongoPrazo()" formControlName="financiamentos">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Obrigações Tributárias R${{registerForm.controls.obrigacoes_Tributarias_Nao_Circulante.value}}</label>  
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Impostos e contribuições" (change)="somaObrigacoesLongoPrazo()" formControlName="impostos_E_Contribuicoes">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Capital Social R${{registerForm.controls.capital_Social.value}}</label>  
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Capital Subscrito" (change)="changeCapitalSocial()" formControlName="capital_Subscrito">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="" >Lucros e Prejuízos Acumulados R${{registerForm.controls.lucros_E_Projuizos_Acumulados_Soma.value}}</label>  
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Lucros e prejuízos acumulados" (change)="changeLucroPrejuizoAcumulado()" formControlName="lucros_E_Projuizos_Acumulados">
                        </mat-form-field>
                        <mat-form-field class="w-75">
                            <input type="number" matInput placeholder="Lucros e prejuízos exercício" formControlName="lucros_E_Prejuizos_Exercicio" (change)="changeLucroPrejuizoAcumulado()">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
