<ngx-loading
    [show]="loading" 
    [config]="{ backdropBorderRadius: '3px' }" 
    [template]="customLoadingTemplate">
</ngx-loading>
<ng-template #customLoadingTemplate>    </ng-template>
        
<div  [className]="loading ? 'd-none' : 'd-block'" class="">

  <app-charts-dre [dados]="chartsData"></app-charts-dre>
  
  <!-- <mat-tab-group>
    <mat-tab label="Resultado 1">
      <app-charts-dre [dados]="chartsData"></app-charts-dre>
    </mat-tab>
    <mat-tab label="Resultado 2"> 
      <app-charts-balanco-patrimonial [dados]="chartsData"></app-charts-balanco-patrimonial>
    </mat-tab>
  </mat-tab-group> -->
  
</div>
