<h1 *ngIf="!dados" class="tect-center p-3">Nem um dado disponível</h1>

<div *ngIf="dados" class="d-flex flex-column">
  <div class="d-flex flex-wrap justify-content-around align-items-center rounded">
    
    <!-- Receitas Operacionais -->
    <div class="shadow rounded bg-light mb-3 mr-3" >
      <h6 class="text-center m-2">Receitas Operacionais</h6>  
      <ngx-charts-bar-vertical
        class="bg-light shadow"
        [view]="view400"
        [scheme]="colorScheme"
        [results]="valorChart_ReceitasOperacionais"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showDataLabel]="showDataLabel">
      </ngx-charts-bar-vertical>
    </div>
    
    <div class="shadow rounded bg-light mb-3 mr-3" >
      <h6 class="text-center m-2">Peso Custo Despesa</h6> 
      <ngx-charts-line-chart
        class="bg-light shadow  mt-5"
        [view]="view50"
        [scheme]="colorScheme"
        [results]="valorChart_PesoCustoDespesa"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        >
      </ngx-charts-line-chart>
    </div>


    
  </div>
</div>