<div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card shadow mx-4">
          <div class="card-body p-4">
            <form [formGroup]="registerForm" class="">
              <h1>Cadastro Empresa</h1>
              <a href="#/contabilidade/novo-usuario" class="btn mt-4 text-white bg-roxo float-right mb-4" >Novo usuário</a>
              <p class="text-muted">Crie uma nova empresa</p>
              <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-people"></i></span>
                  </div>
                  <input formControlName="Nome_Fantasia" type="text" class="form-control" placeholder="Nome fantasia" autocomplete="Nome_Fantasia" required>
                </div>
                <small *ngIf="registerForm.get('Nome_Fantasia').errors?.required && (registerForm.get('Nome_Fantasia').dirty || registerForm.get('Nome_Fantasia').touched)" class="text-danger d-block mt-2">Nome fantasia é obrigatório!</small>
              </div>
              <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="Razao_Social" type="text" class="form-control" placeholder="Razão social" autocomplete="Razao_Social" required>
                </div>
                <small *ngIf="registerForm.get('Razao_Social').errors?.required && (registerForm.get('Razao_Social').dirty || registerForm.get('Razao_Social').touched)" class="text-danger d-block mt-2">Razão social é obrigatório!</small>
              </div>
              <div class="input-group mb-3 d-flex flex-column"> 
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-briefcase"></i></span>
                  </div>
                  <input formControlName="Cnpj" mask="00.000.000/0000-00" type="text" class="form-control" placeholder="CNPJ" autocomplete="Cnpj" required>
                </div>
                <small *ngIf="registerForm.get('Cnpj').errors?.required && (registerForm.get('Cnpj').dirty || registerForm.get('Cnpj').touched)" class="text-danger d-block mt-2">CNPJ é requisíto!</small>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <ngx-dropzone
                  #dropzone
                  label="Selecione uma logo"
                  class="custom-dropzone shadow w-50"
                  (filesAdded)="onFilesAdded($event)"
                  [showPreviews]="true"
                ></ngx-dropzone>       
                <div>
                  <button class="btn btn-secondary" (click)="dropzone.reset()">Reset</button>
                </div>
              </div>
              <div class="col">
                  <label class="text-muted" for="planos">Status</label>
                  <div class="d-flex justify-content-center mb-3">    
                    <div id="planos" class="row">
                        <div class="checkbox " class="col" formArraName="status" 
                            *ngFor="let item of statusList ">                        
                            <label class="d-flex flex-row-reverse align-items-center justify-content-between"> {{ item.name }}
                                <input 
                                    [checked]="item.checked"
                                    class="mr-1"
                                    type="checkbox" 
                                    (change)="selectStatus(item.id)"/>
                            </label>
                        </div>
                    </div>   
                  </div>  
              </div>
              
              <hr>
              <app-formulario-novo-usuario fullComponent='false' (validatorsOk)="reciverFeedback($event)" idNovaContabilidade='idNovaContabilidade'></app-formulario-novo-usuario>
              <button (click)="registrar()" [disabled]="registerForm.invalid || registerForm.pending || validatorsOkNovoUsuario" type="button" class="btn btn-block text-white bg-roxo">Criar Empresa</button>
            </form>

          </div>            
        </div>
      </div>
    </div>
  </div>
