// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


$bg_roxo_linear: linear-gradient(45deg, #67569d 0%, #6b00e9 100%);
$bg_verde_linear: linear-gradient(45deg, #04d100   0%, #048400   100%);
$bg_laranja_linear: linear-gradient(45deg, #ff9715 0%, #d45300 100%);
$border_radius: 25px;
$roxo: #6b00e9;
$roxo_opacity: rgba(108, 2, 232, 0.25);

.icon_gerenciar_dashboard { background: url('./../assets/img/icons/gerenciar_dashboard.png') }
.icon_gerenciar_clientes { background: url('./../assets/img/icons/gerenciar_clientes.png') }
.icon_novo_cliente { background: url('./../assets/img/icons/novo_cliente.png') }
.icon_gerenciar_uploads { background: url('./../assets/img/icons/gerenciar_uploads.png') }
.icon_upar_relatorio { background: url('./../assets/img/icons/upload_relatorio.png') }


.container_icon { 
    height: 15px; 
    width: 15px !important; 
    background-repeat: no-repeat;
}
.text_roxo{ color: $roxo !important}
.border_roxo{ border-color: $roxo }
.border_roxo_opacity{ border-color: $roxo_opacity }
.br25 { border-radius: $border_radius }
.bg-roxo { background: $roxo }
.base_btn { 
    padding: 0.5em 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 25px;
 }
 .bg_linear_verde { background: $bg_verde_linear }

/************    MENU \/   **************/

.second-icon{
    background-image: url('../assets/img/icons/menu-color.png') !important;
    background-repeat: no-repeat;
    height: 18px !important;
    width: 20px;;
}

.open-menu-icon{
    left: 200px;     
}  


.menu-laco{
    border-radius: $border_radius;
    background:  $bg_roxo_linear;
    padding-bottom: 5em;
  

    .navbar-toggler{
        background: $bg_roxo_linear !important;
        border-radius: $border_radius;
        border: 1px solid white;
        align-self: center;
        width: 3.5em;
        display: flex !important;
        justify-content: center;
        position: absolute;
        top: -13px;
    }    
    
    .navbar-toggler-icon{
        background-image: url('./../assets/img/icons/menu.png') !important;
        background-repeat: no-repeat;
        background-position: center;
        height: 16px !important;
        width: 18px;
    }

    .nav-link {
        display: flex;
        align-items: center;
    }

    .nav-link.active {
        color: #fff;
        background: $bg_roxo_linear;
    }

    .precisa_ajuda{
        text-align: center;
        text-transform: capitalize;
        border-top: 1px solid #e4e7ea;
        width: 80%;
        margin-left: 10%;
        padding-top: 3em;
    }

    .btn_treinamentos{
        background: $bg_verde_linear;
        width: 80%;
        height: 45px;
        margin-left: 10%;
        border-radius: $border_radius;
        text-align: center;
        a{ display: block }
        a.active{ background: transparent !important }
    }
    .btn_suporte{
        background:  $bg_laranja_linear;
        width: 80%;
        height: 45px;
        margin-left: 10%;
        border-radius: $border_radius;
        text-align: center;
        margin-top: 1em;
        a{ display: block }
        a.active{ background: transparent !important }        
    }

}

@media screen and (max-width: 991px){
    .app-header .navbar-toggler-icon{ background-image: url('./../assets/img/icons/menu-color.png') !important; }
    .navbar-brand-full { margin-top: 2em }
    .app-header{ 
        button:last-child{ display: none }
     }
}

.navbar-brand-minimized{
    width: 159px;
    height: 74px;
}
.brand-minimized .app-header .navbar-brand{
    width: 155px;
}
.sidebar .nav-link:hover {
    color: #98fcff;
    background: none !important;
}

.sidebar-minimized .sidebar .nav-item {
    width: 16px;
    left: 17px;
}
.ajuste_minized-btns{
    width: 45px !important;
    left: 2px !important;
    margin-left: 0 !important;
    a { padding-left: 15px !important }
}



.sidebar-minimized .sidebar .nav-link{
    display: block !important;
}

.sidebar-minimized .sidebar .nav-link:hover,
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: $bg_roxo_linear !important;
    border-radius: $border_radius;
    width: 220px;
}

.sidebar-minimized:hover{
    #menuLaco{
        display: block !important
    }
}

/************    MENU /\    **************/




/************    DATATABLE  \/  **************/

.ng-select .ng-select-container, .ng-dropdown-panel { border: 1px solid $roxo !important}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow {border-color: transparent transparent $roxo !important}
.ng-select .ng-arrow-wrapper .ng-arrow {border-color: $roxo transparent transparent  !important}
.ng-select .ng-clear-wrapper {color: $roxo !important} 
.dataTable{
    label{
        display: flex;
        align-items: center;
    }
    input, select {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid $roxo;
        border-radius: $border_radius;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        outline: none;
    }
    select { margin: 0 0.5em }

    
    
    .paginate_button.current{
        background: $bg_roxo_linear !important;
        border-radius: $border_radius !important;   
        color: white !important; 
    }
    .paginate_button:hover{
        background: $bg_roxo_linear !important;
        border-radius: $border_radius !important;  
        border: none !important;
    }
}

.table_laco{

    border-bottom: none !important;
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
    width: 100%;

    thead{
        background: $bg_roxo_linear;
        border-bottom: none;
        border-radius: $border_radius;
        color: white;
        text-align: center;
        th:first-child{
            border-top-left-radius: $border_radius;        
        }
        th:last-child{
            border-top-right-radius: $border_radius;
        }
    }

    tbody tr{
        text-align: center;
    }

    a{ 
        color: black;
    }
    a:hover{
        color: #6c02e8 ;  
        text-decoration: none;               
    }

    td{ border-color: $roxo_opacity }


}
/************    DATATABLE  /\   **************/

ngx-dropzone {
    margin: 20px;
   
    &.custom-dropzone {
      height: 100px;
      background: #333;
      color: #fff;
      //border: 5px dashed rgb(235, 79, 79);
      border-radius: 5px;
      font-size: 20px;
   
      &.hovered {
        border-style: solid;
      }
    }
}



.sidebar-minimized .sidebar .sidebar-minimizer { background-color:none !important; } 

#tableUpload{
    .form-group{
        z-index: 1 !important; 
    }
}

.form-control {
    border-color: #6c02e8;
}
.form-control:focus, 
.btn:focus, 
.btn.focus{
    border-color: #6c02e8;
    box-shadow: 0 0 0 0.2rem rgba(108, 2, 232, 0.25);
}

span.input-group-text  {
    border-color: #6c02e8;
    color: #6c02e8;
    .icon-user{ color: #6c02e8}    
 }

.bounce1,
.bounce3 { background: $roxo !important}
.bounce2{ background: $roxo !important; opacity: 0.6;}
.loading-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin: 5em auto;
}

.cdk-overlay-container {z-index: 1021;}
