$bg_laranja_linear: linear-gradient(45deg, #ff9715 0%, #d45300 100%);


.btn_upload_gerenciar_clientes{
    background: $bg_laranja_linear;
    color: white !important;
    float: right;
    margin-bottom: 1em;
}