<div class="container bg-white p-5"  >
  <ngx-loading 
    [show]="loading" 
    [config]="{ backdropBorderRadius: '3px' }" 
    [template]="customLoadingTemplate">
  </ngx-loading>
  <ng-template #customLoadingTemplate>    </ng-template>

  <div [className]="loading ? 'd-none' : 'd-block'">
    <h3 class="">Gerenciar Uplodas</h3>
    <a class="base_btn btn_upload_gerenciar_clientes" href="#/contabilidade/upar-relatorio">Fazer Upload de Relatório  </a>
    <div class="dataTable">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table_laco shadow hover" >
          <thead class="">
            <tr class="text-uppercase thead_table">
              <th>empresa</th>
              <th>cpnj</th>
              <th>último upload</th>
              <th>ações</th>
            </tr>
          </thead>
          <tbody class=" table-bordered">
            <tr *ngFor="let item of uploads">
              <td>{{ item?.Nome_Fantasia }}</td>
              <td>{{ item?.Cnpj | mask: '00.000.000/0000-00' }}</td>
              <td>
                  <span *ngIf="item?.tem_upload">
                      {{item?.Data_Upload }}
                  </span>
                  <span *ngIf="!item?.tem_upload" class="text-muted">Nenhum upload</span>
              </td>
              <td>
                <a *ngIf="!item.tem_upload" class="text-muted">Editar D.R.E /</a> 
                <a *ngIf="item.tem_upload" routerLink="/contabilidade/table-dre/{{item?.id}}">Editar D.R.E /</a>
                <a *ngIf="!item.tem_upload" class="text-muted">Editar B.P /</a> 
                <a *ngIf="item.tem_upload" routerLink="/contabilidade/table-bp/{{item?.id}}">Editar B.P /</a>
                <a *ngIf="!item.tem_upload" class="text-muted">Histórico de Uploads</a>
                <a *ngIf="item.tem_upload" href="#/contabilidade/historico-uploads/{{item?.id}}">Histórico de Uploads</a>
              </td>
            </tr>
          </tbody>
      </table>
    </div> 
  </div>
</div>
